<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>Dashboard</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- CSS  -->
    <link rel = "stylesheet" type = "text/css" href="/materialize-css/dist/css/materialize.css" />
    <link rel = "stylesheet" type = "text/css" href="/css/dashboard.css" />
</head>
<body>
   <div class="navbar-fixed">
       <nav class="black" role="navigation">
           <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo"><img class="materialize-logo" src="/assets/images/mullan_logo.jpg" alt=""></a>
               <ul id="nav-mobile" class="right hide-on-med-and-down">
                   <li><a href="/jobcard">JobCard</a></li>
                   <li class="active"><a class="dropdown-button" href="#!" data-activates="pages" data-constrainWidth="false" data-belowOrigin="true">Departments<i class="material-icons right">arrow_drop_down</i></a></li>
                   <li><a href="http://192.168.1.150:9080/stock/index.php">Stock System</a></li>
                   <li><a href="/chat">Chat</a></li>                  
                   <i class="large material-icons"><a href="/statistics">insert_chart</a></i>
               </ul>
               <!-- navbar -->
               <ul id="pages" class="dropdown-content">
                   <li><a href="/polish">Polish</a></li>
                   <li><a href="/antique">Antique</a></li>
                   <li><a href="/powder">Powder Coating</a></li>
                   <li><a href="/fabrication">Fabrication</a></li>
                   <li><a href="/product-Management">Product Management</a></li>
               </ul>
               <a href="#" data-activates="slide-out" class="button-collapse right"><i class="material-icons white-text">menu</i></a>
           </div>
       </nav>

   </div> 
    <ul id="slide-out" class="side-nav">
        <li class="no-padding">
            <ul class="collapsible collapsible-accordion">
                <li class="bold">
                    <a class="collapsible-header waves-effect waves-teal active">Pages</a>
                    <div class="collapsible-body">
                        <ul>
                            <li><a href="/polish">Polish</a></li>
                            <li><a href="/antique">Antique</a></li>
                            <li><a href="/powder">Powder coating</a></li>
                            <li><a href="/fabrication">Fabrication</a></li>
                            <li><a href="/product-Management">Product Management</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </li>
        <li>
            <a class="waves-effect waves-teal" href="http://192.168.1.150:9080/stock/index.php">Stock System</a>
        </li>
    </ul>


    <!-- body -->

        <div class="row">
            <div class="col s12">
                <div id="Tablejobcard">
                        <table class="responsive-table">
                          <thead>
                            <tr>
                              <th v-for="col in columns" v-on:click="sortTable(col)">{{col}}
                                <div class="arrow" v-if="col == sortColumn" v-bind:class="[ascending ? 'arrow_up' : 'arrow_down']"></div>
                              </th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr id="source" v-for="row in rows">
                              <td> {{row.id}} </td>
                              <!-- <td v-if="row.department == 'Polishing' "> {{row.estimated_time.split('|')[2]}}</td>
                              <td v-else-if="row.department == 'Antiquing' "> {{row.estimated_time.split('|')[0]}}</td>
                              <td v-else="row.department == 'Powder Coating' "> {{row.estimated_time.split('|')[1]}}</td> -->
                              <td> {{row.pulled_date}} </td>
                              <td> {{row.orders}} </td>
                              <td> {{row.bin}} </td>
                              <td> {{row.department}} </td>
                              <td> {{row.qty}} </td>
                              <td> {{row.products}} </td>
                              <td> {{row.finished}} </td>
                              <td> {{row.due_date}} </td>
                              <td> {{row.colour_in}}</td>
                              <td> {{row.colour_out}}</td>
                              <td> {{row.note}} </td>                              
                            </tr>
                          </tbody>
                       </table>
                </div>
            </div>
        </div>


    <!-- <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <br><br>
                
            <div id="container"></div>
             
            <br><br>
        </div>
    </div> -->

    <footer class="page-footer black">
        <div class="container">
            <div class="row">
                <div class="col s6 m3">
                    <img class="materialize-logo" src="/assets/images/mullan_logo.jpg" alt="">
                </div>
            </div>
        </div>
    </footer>

    <!--  Scripts-->
    <script src="../jquery/dist/jquery.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/materialize-css/dist/js/materialize.js"></script>
    <script src="/js/lib/vue.js"></script>
    <!-- External libraries -->
    <script src="/js/lib/highcharts.js"></script>
    <script src="/js/lib/highcharts-3d.js"></script>
    <script src="/js/lib/series-label.js"></script>
    <script src="/js/lib/exporting.js"></script>
    <script src="js/lib/imagesloaded.pkgd.min.js"></script>
    <script src="js/lib/masonry.pkgd.min.js"></script>
    <script src="js/lib/TweenMax.min.js"></script>
    <script src="js/lib/ScrollMagic.min.js"></script>
    <script src="js/lib/animation.gsap.min.js"></script>
  
    <!-- Initialization script -->
    <script src="js/lib/startup.js"></script>
    <script src="js/lib/init.js"></script>
    <!-- custom lib -->
    <script src="js/index.js"></script>
</body>
</html>