<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pegasus Project</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/css/jobCard.css" rel="stylesheet">
    <link rel = "stylesheet" type = "text/css" href="/materialize-css/dist/css/materialize.css" media="all"/>
</head>
<body>

    <div class="navbar-fixed toHide">
        <nav class="black navbar-fixed-top" role="navigation">
            <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo"><img class="materialize-logo" src="/assets/images/mullan_logo.jpg" alt=""></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li class="red-text"><b>JobCard<b></li>  		
                    <li><a href="/jobcard">JobCard</a></li>
                    <li class="active"><a class="dropdown-button" href="/index" data-activates="pages" data-constrainWidth="false" data-belowOrigin="true">Departments<i class="material-icons right">arrow_drop_down</i></a></li>
                    <li><a href="http://192.168.1.150:9080/stock/index.php">Stock System</a></li>
                </ul>
          
        <!-- navbar -->
    
                <ul id="pages" class="dropdown-content">
                    <li><a href="/polish">Polish</a></li>
                    <li><a href="/antique">Antique</a></li>
                    <li><a href="/powder">Powder Coating</a></li>
                </ul>
    
                <a href="/index" data-activates="slide-out" class="button-collapse right"><i class="material-icons white-text">menu</i></a>
            </div>
        </nav>
    </div>  
<!--     
    <nav class="toHide">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">Logo</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="sass.html">Sass</a></li>
            </ul>
        </div>
    </nav> -->

    <div class="container">
        <div class="row">
            <div id="jbCard">
                <jobcard
                    :data="gridData"
                    :columns="gridColumns"
                    :bin="binNumber"
                    :orders="orders"
                    :date="dueDate"
                    :departments="departments"
                    :department="department"
                    :type="type"
                    :esttime="estTime"
                    >
                </jobcard>
            </div>
        </div>
        <div class="row toHide">
            <a id="print" class="waves-effect waves-light btn right">Print</a>
        </div>
        <h5>Comments:</h5>
    </div>

    



</body>

<script type="text/x-template" id="jobcard-template">
    <table class="striped bordered">
        <thead>
            <tr >
                <th v-for="key in columns" >
                    {{ key }}
                </th>
                <th v-for="i in 3" >All Parts</th>
            </tr>
        </thead>

        <tbody>
            <tr v-for="(entry, index) in data">
                <td>
                    <span class="noEdit">{{entry.Quantity}}</span>
                    <input class='edit' type="text" v-model="entry.Quantity"/>
                </td>
                <td class="part">

                    <span class="noEdit">{{entry.Part}}</span>
                    <div class="input-field edit">
                        <input type="text" class="autocomplete" :data-value="index" :id="index">
                        <label :for="index">Please type here</label>
                    </div>
                        <!-- trick to pass value selected to the gridData object -->
                        <input class="input_select" type="hidden" v-model="entry.Part" :data-value="index"/>
                    </span>
                </td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            

            <tr v-for="(order,index) in orders">
                <td v-if="index == 0">Order ID:</td>
                <td v-else></td>
                <td>
                    <span class="noEdit">{{order.id}}</span>
                    <input type="text" class="edit" v-model="order.id"/> 
                </td>
            </tr>

            <tr>
                <td class="custom">Bin:</td>
                <td class="custom">
                    <span class="noEdit">{{bin.bin}}</span>
                    <input type="text" class="edit" v-model="bin.bin"/> 
                </td>
                <td colspan="3" class="custom">
                    Estimation Time: {{esttime.time}}
                </td>
                
            </tr>

            <tr>
                <td class="custom">
                    <span class="edit">
                        Type: <input type="text" v-model="type.name"/>
                    </span>
                    <span class="noEdit">Type: {{type.name}}</span>
                </td>
               
                <td class="dept custom" >
                    <span class="noEdit">Dept: {{department.name}}</span>
                    <span class="edit">Dept:</span>
                    <select>
                        <option disabled value="" selected>Please select one</option>
                        <option v-for="dept in departments">{{dept.name}}</option>
                    </select>
                        <!-- trick to pass value selected to the gridData object -->
                        <input id="input_select3" type="hidden" v-model="department.name"/>
                </td>
                <td  colspan="3" class="custom">
                        <span class="noEdit">Due Date: {{date.date}}</span>
                        <span class="edit">Due Date: </span>
                        <input type="text" class="edit" id="datepicker">
                        <input id="input_select2" type="hidden" v-model="date.date"/>
                </td>
                    
            </tr>
        </tbody>
    </table>
</script>

<script src="../jquery/dist/jquery.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/materialize-css/dist/js/materialize.js"></script>
<script src="/js/lib/vue.js"></script>
<script src="/moment/moment.js"></script>
<script src="/js/jobCard.js"></script>
</html>