<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pegasus Project</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/css/jobCard.css" rel="stylesheet">
    <link href="/css/jquery-ui.css" rel="stylesheet">
    <link rel = "stylesheet" type = "text/css" href="/materialize-css/dist/css/materialize.css" />
</head>
<body>
    
    <nav class="toHide">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">Logo</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="sass.html">Sass</a></li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div id="jbCard">
                <jobcard
                    :data="gridData"
                    :columns="gridColumns"
                    :options="options"
                    :bin="binNumber"
                    :orders="orders"
                    :date="dueDate"
                    :departments="departments"
                    :department="department"
                    >
                </jobcard>
            </div>
        </div>
        <div class="row toHide">
            <a id="print" class="waves-effect waves-light btn right">Print</a>
        </div>
    </div>
    



</body>

<script type="text/x-template" id="jobcard-template">
    <table class="striped bordered">
        <thead>
            <tr>
                <th v-for="key in columns">
                    {{ key }}
                </th>
            </tr>
        </thead>

        <tbody>
            <tr v-for="(entry, index) in data">
                <td>
                    <span class="noEdit">{{entry.Quantity}}</span>
                    <input class='edit' type="text" v-model="entry.Quantity"/>
                </td>
                <td class="part">

                    <span class="noEdit">{{entry.Part}}</span>
                    <select :data-value="index">
                        <option disabled value="" selected>Please select one</option>
                        <option v-for="option in options">{{option.name}}</option>
                    </select>
                        <!-- trick to pass value selected to the gridData object -->
                        <input class="input_select" type="hidden" v-model="entry.Part" :data-value="index"/>
                    </span>
                </td>
            </tr>
            <tr>
                <td>Bin:</td>
                <td>
                    <span class="noEdit">{{bin.bin}}</span>
                    <input type="text" class="edit" v-model="bin.bin"/> 
                </td>
            </tr>

            <tr v-for="(order,index) in orders">
                <td v-if="index == 0">Order ID:</td>
                <td v-else></td>
                <td>
                    <span class="noEdit">{{order.id}}</span>
                    <input type="text" class="edit" v-model="order.id"/> 
                </td>
            </tr>
            <tr>
                <td>
                    <span class="noEdit">Due Date:{{date.date}}</span>
                    <span class="edit">Due Date: </span><input type="text" class="edit" id="datepicker">
                    <input id="input_select2" type="hidden" v-model="date.date"/>
                </td>
                <td class="dept">
                    <span class="noEdit">Dept: {{department.name}}</span>
                    <select>
                        <option disabled value="" selected>Please select one</option>
                        <option v-for="dept in departments">{{dept.name}}</option>
                    </select>
                        <!-- trick to pass value selected to the gridData object -->
                        <input id="input_select3" type="hidden" v-model="department.name"/>
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
</script>

<script src="../jquery/dist/jquery.js"></script>
<script src="../js/lib/jqueryui/jquery-ui.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/materialize-css/dist/js/materialize.js"></script>
<script src="/js/lib/vue.js"></script>
<script src="/js/jobCard.js"></script>
</html>